        /* The side navigation menu */
        .sidenav {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0; /* Stay at the top */
            left: 0;
            background-color:#9AD0D3; /* Black*/
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 60px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
          }
          
          /* The navigation menu links */
          .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          /* When you mouse over the navigation links, change their color */
          .sidenav a:hover {
            color: #f1f1f1;
          }
          
          /* Position and style the close button (top right corner) */
          .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
          
          /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
          #main {
            transition: margin-left .5s;
            padding: 20px;
          }
          
          /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
          @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
          }
          
          /* Dropdown */
          
          .bloco-menu{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
          }
          /* .dropbtn {
            background-color: #ffffff;
            color: #2CD6CE;
            padding: 0.5rem;
            width: 13rem;
            font-size: 1rem;
            border-radius: 1rem;
            border: none;
            cursor: pointer;
            font-weight: 600;
          } */
          
          .dropdown {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 1rem;
          
          }
          
          .dropdown:hover .dropbtn {
            background-color: #e6ad10;
            color: #f1f1f1;
          }
          img{
            border: 0.5rem solid #e6ad10;
            
            border-radius: 10rem;
          }
          .bloco1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
          }
          .botao-menu{
            background-color:#2CD6CE;
            color: white;
            padding: 0.5rem;
            width: 5rem;
            font-size: 16px;
            border-radius: 1rem;
            border: none;
            cursor: pointer;
            font-weight: 600;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
          .dropdown > .a-link-0{
             background-color: #ffffff;
            color: #9AD0D3;
            padding: 0.5rem;
            width: 13rem;
            font-size: 1rem;
            border-radius: 1rem;
            border: none;
            cursor: pointer;
            font-weight: 600;
          }
              .dropdown > a-link-1{
                  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              }
              .menu--{
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 1rem;
              }